<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PTC 373.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8BD562B2F7FFC3700FAB3E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8BD56412F7FFC3A00FAB3E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8BD564B2F7FFC3A00FAB3E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
